<head>
  <meta charset="UTF-8">
  <title>The OpenSextant Project</title>
  <meta property="og:title" content="The OpenSextant Project" />
  <meta name="description" content="A GitHub project for geotagging and other geospatial capabilities" />
  <meta property="og:description" content="A GitHub project for geotagging and other geospatial capabilities" />
  <link rel="canonical" href="http://opensextant.github.io/" />
  <meta property="og:url" content="http://opensextant.github.io/" />
  <meta property="og:site_name" content="The OpenSextant Project" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
 
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "The OpenSextant Project",
    "headline": "The OpenSextant Project",
    "description": "A GitHub project for geotagging and other geospatial capabilities",
    "logo": "https://avatars.githubusercontent.com/u/4237411",
    "url": "http://opensextant.github.io/"
  }
</script>

</head>